body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Raleway",
    /*"Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue"*/
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: #222;
  font-weight:300;


}

code {
  font-family: source-code-pro, Raleway, Menlo, Monaco, Consolas, "Raleway",
    "Courier New", monospace;
}
* {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
